body {
  font-family: "Microsoft YaHei", sans-serif;
}
.navbar-inverse {
  position: relative;
}
.navbar-inverse .navbar-brand {
  color: #FFF;
}
.sidebar-fonteditor {
  position: fixed;
  width: 200px;
  margin: 15px;
}
.main-container {
  margin: 15px 0 0 230px;
  overflow: hidden;
}
.main-container section {
  margin-top: 60px;
}
.main-container section .setting {
  font-style: normal;
  font-weight: bold;
  color: #F00;
}
.main-container section em {
  font-style: normal;
  color: #F00;
}
.main-container section:first-child {
  margin-top: 0;
}
